@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lato&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

.app-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  align-items: center;
}

.app-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  a,
  a:visited,
  a:active {
    color: #fff;
  }

  .nav-app-links {
    a {
      padding: 0 10px;
    }
  }

  .nav-app-name {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    h6 {
      margin-left: 20px;
    }
  }
}

.report-created-alert {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .report-event-container {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .report-event-container {
    width: 90%;
  }
}

.report-event-container {
  height: 100%;
  padding: 10px;
  display: flex;

  .or {
    text-align: center;
  }

  .report-event-now {
    min-height: 20%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    button.MuiButton-containedPrimary {
      margin: 10px 0;
      font-size: 20px;
    }
  }
  .report-event-custom {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;

    button.MuiButton-containedPrimary {
      margin: 10px 0;
      font-size: 20px;
    }
  }
}

.event-button-cell {
  .event-button {
    min-width: 131px;
    margin: 2px 5px;
  }
}

.calendar-container {
  width: 80%;
  padding: 10px 10px 10px 110px;
  overflow-x: auto;
  height: 100%;
}

.timeline-container {
  position: fixed;
  left: 0;
}

.landing-container {
  height: 100%;
  margin: 70px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.event-notes {
  width: 100%;
  margin: 10px 0;
}

#calendar-year-buttons {
  position: fixed;
  top: 80px;
  left: 20px;
}

.loading-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

.tooltip-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  max-width: 50px;
  word-wrap: break-word;
  text-align: center;

  h1,
  h2,
  h3 {
    margin: -3px;
    padding: 0;
  }
}

.you-can {
  font-size: 18px;
  margin: 10px;
}

.trend-container {
  width: 100%;
  height: 100vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trend-detail-container {
  margin: 15px;
  width: 70%;

  h2.MuiTypography-root.MuiTypography-h5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

a.app-name {
  text-decoration: none;
}

.trend-button-container {
  min-height: 40px;
}

.date-time-picker {
  margin: 15px 0 15px !important;
}

.nav-menu-icon {
  cursor:pointer;
}